body {
  background-color: #374049;
  color: #ffffff;
}

.button {
  color: #fff;
}

a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

.tab {
  background: #374049;
  background: -webkit-linear-gradient(to bottom, #29a9c2, #374049);
  background: linear-gradient(to bottom, #29a9c2, #374049);
  padding: 40px 50px;
  position: relative;
}

.tab:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#53cc7d, #374049);
  opacity: 0.85;
}

.tab .nav-tabs {
  border-bottom: none;
  padding: 0 20px;
  position: relative;
}

.tab .nav-tabs li{
  display:inline;
  font-size: 18px;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  background: transparent;
  padding: 0;
  border: none;
  border-bottom: 2px solid transparent;
  opacity: 0.5;
  position: relative;
  transition: all 0.5s ease 0s;
  margin: 0 30px 0 0;
}

.tab .nav-tabs li:hover {
  background: transparent;
}

.tab .nav-tabs li.react-tabs__tab--selected,
.tab .nav-tabs li.react-tabs__tab--selected:focus,
.tab .nav-tabs li.react-tabs__tab--selected:hover {
  border: none;
  background: transparent;
  opacity: 1;
  border-bottom: 2px solid #29a9c2;
  color: #fff;
}

.tab .tab-content {
  padding: 20px 0 0 0;
  margin-top: 40px;
  background: transparent;
  z-index: 1;
  position: relative;
}

.form-bg {
  background: #ddd;
}

.form-horizontal .form-group {
  margin: 0 0 15px 0;
  position: relative;
}

.form-horizontal .form-control {
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  box-shadow: none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  transition: all 0.3s ease 0s;
}

.form-horizontal .form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.form-horizontal .form-group label {
  padding: 0 20px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.form-horizontal .main-checkbox {
  width: 20px;
  height: 20px;
  background: #29a9c2;
  float: left;
  margin: 5px 0 0 20px;
  border: 1px solid #29a9c2;
  position: relative;
}

.form-horizontal .main-checkbox label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.form-horizontal .main-checkbox label:after {
  content: "";
  width: 10px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-horizontal .main-checkbox input[type=checkbox] {
  visibility: hidden;
}

.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.form-horizontal .text {
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  margin-left: 7px;
  line-height: 20px;
  padding-top: 5px;
  text-transform: capitalize;
}

.form-horizontal .btn {
  width: 100%;
  background: #29a9c2;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 20px 0 30px 0;
}

.form-horizontal .btn:focus {
  background: #29a9c2;
  color: #fff;
  outline: none;
  box-shadow: none;
}

.form-horizontal .forgot-pass {
  border-top: 1px solid #374049;
  margin: 0;
  text-align: center;
}

.form-horizontal .forgot-pass .btn {
  width: auto;
  background: transparent;
  margin: 30px 0 0 0;
  color: #374049;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.form-horizontal .forgot-pass .btn:hover {
  color: #29a9c2;
}

@media only screen and (max-width: 479px) {
  .tab {
    padding: 40px 20px;
  }
}

#user {
  width: 300px;
  position: absolute;
  top: 150px;
  left: 150px;
}

#opponent {
  width: 300px;
  position: absolute;
  top: 150px;
  right: 150px;
}

.heroes {
  width: 300px;
  margin: 0 auto;
}

.search-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.army-list {
  padding: 0;
  width: 100%;
}

.heroes-list {
  padding: 0;
  width: 100%;
  list-style-position: inside;
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;
  list-style-type: decimal;
}

.hero {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
}

.hero-image {
  margin: 5px;
}

.hero-name {
  font-size: 20px;
  font-weight: bold;
}

.hero-health{
  font-size: 18px;
  color: green;
}

.hero-damage{
  font-size: 18px;
  color: darkred;
}

